<div class="top-banner">
    <div class="left"></div>
    <div class="right"></div>
</div>
<div class="section-content">
    <div class="page-width">
        <h1 class="heading font-36 fw-700 lh-120 color-white">{{ section.settings.heading }}</h1>
        <div class="description">
            {% if section.settings.description != blank %}
                <p class="left-double-quote m-0 color-yellow font-48">“</p>
                <p class="font-24 fw-400 lh-160 color-white m-0">{{ section.settings.description }}</p>
                <p class="right-double-quote m-0 color-yellow font-48">”</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="bottom-banner">
    <div class="left"></div>
    <div class="right"></div>
</div>

{% schema %}
{
    "name": "Text Banner",
    "class": "text_banner",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        }
    ],
    "presets": [
        {
        "name": "Text Banner"
        }
    ]
}
{% endschema %}