@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'Montserrat';
    font-style: "italic";
    src: url('Montserrat-ExtraLightItalic.ttf') format('truetype');
}
* {
    font-family: 'Montserrat';
}

.font-12 {
    font-size: 12px;
}
.font-15 {
    font-size: 15px;
}
.font-16 {
    font-size: 16px;
}
.font-17 {
    font-size: 17px;
}
.font-18 {
    font-size: 18px;
}
.font-22 {
    font-size: 22px;
}
.font-24 {
    font-size: 24px;
}
.font-32 {
    font-size: 32px;
}
.font-36 {
    font-size: 36px;
}
.font-46 {
    font-size: 46px;
}
.font-48 {
    font-size: 48px;
}
/* ======================== */
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
/* =========================== */
.site-main-bg-color { 
    background: #000D46; 
}
.bg-white { 
    background: #fff; 
}
.bg-yellow { 
    background: #EC772F; 
}
/* ============================= */
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0;
}
/* ============================= */
.ft-uppercase { 
    text-transform: uppercase; 
}
.color-white { 
    color: #fff; 
}
.color-black {
    color: #1A1A1A;
}
.color-yellow{
    color: #FFDD30;
}
.full-width {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.d-flex { 
    display: flex;
}
.lh-120 { line-height: 120%; }
.lh-138 { line-height: 138%; }
.lh-140 { line-height: 140%; }
.lh-160 { line-height: 160%; }
/* ============================= */
.page-button {
    padding: 22px 42px;
    background: #EC772F;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
h1, h2, h3, p, a, li, select {
    font-family: 'Montserrat';
    line-height: 138%;
}
ul {
    padding: 0px;
}
.m-40 {
    margin-top: 40px;
}
@media (max-width: 768px) {
    h1.heading {
        font-size: 31px;
    }
}

.image-fix {margin-top: 100px;float: right;}